

  .choice-text {
    padding: 1.5rem 2.5rem;
  }
  
  .timer {
    font-size: 4rem;
    padding: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 2rem;
    border: #1f1e32;
  }
  
  .score {
    font-size: 3rem;
    padding: 2rem 0;
  }
  
  .new-game {
    padding: 1rem;
    margin-top: 2rem 0;
  }
  
  .top3 {
    width: 80%;
    font-size: 2rem;
  }
  