:root {
  background-color: whitesmoke;
  font-size: 60.5%;
  --cyan: #17a2b8;
  --indigo: #6f42c1;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --teal: #20c997;
  --yellow: #ffc107;
}

/* "cyan", "orange", "pink", "teal", "yellow" */

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #1f1e32;
}

h2 {
  font-size: 18px;
}

.btn:hover,
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(13, 36, 48, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
