:root {
  background-color: whitesmoke;
  font-size: 52.5%;
}

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  color: #1f1e32;
}

html {
  background: url(./img/greenHexa.svg);
  background-position-x: -100px;
  background-position-y: -400px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

h1 > span {
  font-size: 2.4rem;

  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.container > * {
  width: 100%;
}


.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.input-field {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #1f1e32;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #1f1e32;
  background-color: white;
}

.btn:hover,
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(13, 36, 48, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

@media screen and (max-width: 992px) {
  :root {
    background-color: whitesmoke;
    font-size: 50.5%;
  }
}
